In [1]:
import requests as req
import pandas as pd
from bs4 import BeautifulSoup as bs 
import pandas as pd
import numpy as np
import warnings
import regex as re
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

In [8]:
# variable con la key de la API de Aemet
querystring = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJib3JqYWRvbGFAZ21haWwuY29tIiwianRpIjoiMDIwMWY0MWMtN2I4OC00MzQwLThjZTgtODEyMGMzOWE5YTA4IiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE2OTExMzc1NTQsInVzZXJJZCI6IjAyMDFmNDFjLTdiODgtNDM0MC04Y2U4LTgxMjBjMzlhOWEwOCIsInJvbGUiOiIifQ.nqAf3IyQGvEY7boKTPiPHrQ3q8wLGCWsrGmZRNJ3xKU"}

headers = {'cache-control': "no-cache"}

estaciones = ['6302A', '1387', '4642E', '0367', '5973']

In [10]:
  
for est in estaciones:
    
    
    url = f"https://opendata.aemet.es/opendata/api/valores/climatologicos/mensualesanuales/datos/anioini/2020/aniofin/2022/estacion/{est}"

    response = req.get(url, headers=headers, params=querystring)

    s_url = response.json()['datos']

    response = req.get(s_url)
    # Verificar si la solicitud fue exitosa (c√≥digo de estado 200)
    if response.status_code == 200:
        
        # Guardar la respuesta en un archivo local
        with open(f'../data/datos_aemet_{est}.json', 'wb') as f:
            f.write(response.content)
        print("Datos descargados y guardados correctamente.")
    else:
        print("Error al descargar los datos.")

Datos descargados y guardados correctamente.
Datos descargados y guardados correctamente.
Datos descargados y guardados correctamente.
Datos descargados y guardados correctamente.
Datos descargados y guardados correctamente.

In [12]:
almeria = pd.read_json('../data/datos_aemet_6302A.json')

In [13]:
a_coruna = pd.read_json('../data/datos_aemet_1387.json')

In [14]:
huelva = pd.read_json('../data/datos_aemet_4642E.json')

In [15]:
girona = pd.read_json('../data/datos_aemet_0367.json')

In [16]:
cadiz = pd.read_json('../data/datos_aemet_5973.json')

In [17]:
almeria.head()

,fecha,indicativo,p_max,hr,q_max,nw_55,q_mar,q_med,tm_min,ta_max,ts_min,nt_30,w_racha,np_100,nw_91,np_001,ta_min,w_rec,e,np_300,p_mes,w_med,nt_00,ti_max,tm_mes,tm_max,q_min,np_010,n_cub,n_des,n_nub
0,2020-1,6302A,6.6(20),58.0,931.1(17),0.0,1024.5,923.5,4.2,21.3(30),9.6,0.0,34/10.6(22),0.0,0.0,8.0,0.9(13),114.0,65.0,0.0,21.3,5.0,0.0,4.9,9.6,14.9,910.3(21),5.0,NaN,NaN,NaN
1,2020-2,6302A,0.0(--),49.0,932.4(23),0.0,1024.5,925.0,7.2,27.0(04),12.0,0.0,07/14.2(06),0.0,0.0,0.0,2.4(20),124.0,73.0,0.0,0.0,5.0,0.0,13.2,13.7,20.1,915.4(29),0.0,NaN,NaN,NaN
2,2020-3,6302A,8.5(23),58.0,926.3(10),0.0,1015.6,916.8,7.9,26.8(11),11.6,0.0,12/14.2(17),0.0,0.0,11.0,4.6(23),166.0,82.0,0.0,31.7,8.0,0.0,10.2,13.2,18.5,906.9(26),8.0,NaN,NaN,NaN
3,2020-4,6302A,12.1(13),61.0,925.0(07),0.0,1013.9,915.7,9.0,23.9(30),12.0,0.0,08/13.6(02),1.0,0.0,16.0,4.7(02),164.0,97.0,0.0,34.5,8.0,0.0,13.1,13.9,18.7,907.7(21),8.0,NaN,NaN,NaN
4,2020-5,6302A,8.6(12),41.0,926.7(23),0.0,1013.8,917.8,13.9,32.0(05),19.3,5.0,08/12.8(04),0.0,0.0,7.0,9.1(13),172.0,100.0,0.0,11.1,9.0,0.0,15.7,20.0,26.1,905.1(13),1.0,NaN,NaN,NaN

In [18]:
a_coruna.head()

,fecha,indicativo,p_max,glo,hr,n_gra,n_fog,inso,q_max,nw_55,q_mar,q_med,tm_min,ta_max,ts_min,nt_30,nv_0050,w_racha,np_100,p_sol,nw_91,ts_20,np_001,ta_min,w_rec,e,np_300,nv_1000,evap,p_mes,n_llu,n_tor,ts_10,w_med,nt_00,ti_max,n_nie,tm_mes,tm_max,nv_0100,q_min,np_010,n_cub,n_des,n_nub
0,2020-1,1387,48.2(16),17273,78,0,0,3.8,1030.5(04),12.0,1024.9,1016.8,8.9,18.5(31),15.0,0,0,21/25.3(14),3,41.0,1.0,10.6,15,4.4(05),318.0,108,1,0,606,119.3,19,0,10.1,13.0,0,10.6,0,11.5,14.1,0,999.0(15),10,NaN,NaN,NaN
1,2020-2,1387,19.6(28),25565,76,0,2,4.8,1029.3(18),8.0,1025.4,1017.3,10.5,23.0(03),16.1,0,0,27/23.1(29),1,45.0,0.0,13.0,14,6.1(19),315.0,118,0,1,673,47.1,16,0,12.7,14.0,0,12.6,0,13.3,16.1,0,994.1(29),9,NaN,NaN,NaN
2,2020-3,1387,38.0(01),39355,76,0,0,5.6,1024.1(09),9.0,1019.5,1011.4,9.8,19.3(28),14.2,0,0,06/22.5(30),5,46.0,0.0,13.4,13,5.6(31),359.0,112,1,0,754,114.0,18,0,13.1,16.0,0,10.2,0,12.5,15.1,0,987.2(01),10,NaN,NaN,NaN
3,2020-4,1387,12.6(05),40907,80,1,1,4.3,1014.9(07),2.0,1014.3,1006.3,11.6,22.9(04),13.8,0,0,21/17.8(30),2,32.0,0.0,15.4,17,6.9(03),259.0,131,0,1,571,73.0,22,1,15.5,11.0,0,13.9,0,14.4,17.3,0,997.6(05),15,NaN,NaN,NaN
4,2020-5,1387,3.8(09),68939,73,0,1,9.0,1024.8(23),2.0,1017.4,1009.5,14.2,29.7(28),18.8,0,0,22/19.4(04),0,61.0,0.0,18.2,6,10.7(17),282.0,148,0,1,998,8.4,8,0,18.3,13.0,0,15.7,0,17.6,21.0,0,995.7(13),2,NaN,NaN,NaN