In [1]:
import requests as req
import pandas as pd
from bs4 import BeautifulSoup as bs 
import pandas as pd
import numpy as np
import warnings
import regex as re
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

In [2]:
# variable con la key de la API de Aemet
querystring = {"api_key":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJib3JqYWRvbGFAZ21haWwuY29tIiwianRpIjoiMDIwMWY0MWMtN2I4OC00MzQwLThjZTgtODEyMGMzOWE5YTA4IiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE2OTExMzc1NTQsInVzZXJJZCI6IjAyMDFmNDFjLTdiODgtNDM0MC04Y2U4LTgxMjBjMzlhOWEwOCIsInJvbGUiOiIifQ.nqAf3IyQGvEY7boKTPiPHrQ3q8wLGCWsrGmZRNJ3xKU"}

headers = {'cache-control': "no-cache"}

estaciones = ['6302A', '1387', '4642E', '0367', '5973']

In [3]:
  
for est in estaciones:
    
    
    url = f"https://opendata.aemet.es/opendata/api/valores/climatologicos/mensualesanuales/datos/anioini/2019/aniofin/2022/estacion/{est}"

    response = req.get(url, headers=headers, params=querystring)

    s_url = response.json()['datos']

    response = req.get(s_url)
    # Verificar si la solicitud fue exitosa (c√≥digo de estado 200)
    if response.status_code == 200:
        
        # Guardar la respuesta en un archivo local
        with open(f'../data/datos_aemet_{est}.json', 'wb') as f:
            f.write(response.content)
        print("Datos descargados y guardados correctamente.")
    else:
        print("Error al descargar los datos.")

Datos descargados y guardados correctamente.
Datos descargados y guardados correctamente.
Datos descargados y guardados correctamente.
Datos descargados y guardados correctamente.
Datos descargados y guardados correctamente.

In [4]:
almeria = pd.read_json('../data/datos_aemet_6302A.json')

In [5]:
a_coruna = pd.read_json('../data/datos_aemet_1387.json')

In [6]:
huelva = pd.read_json('../data/datos_aemet_4642E.json')

In [7]:
girona = pd.read_json('../data/datos_aemet_0367.json')

In [8]:
cadiz = pd.read_json('../data/datos_aemet_5973.json')

In [9]:
almeria.head()

,fecha,indicativo,p_max,nw_55,w_racha,np_100,nw_91,np_001,w_rec,np_300,p_mes,w_med,np_010,hr,tm_min,ta_max,ts_min,nt_30,ta_min,e,nt_00,ti_max,tm_mes,tm_max,q_max,q_mar,q_med,q_min,n_cub,n_des,n_nub
0,2019-1,6302A,2.4(19),1.0,19/15.6(28),0.0,0.0,4.0,163.0,0.0,4.7,7.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-2,6302A,4.1(01),NaN,NaN,0.0,NaN,2.0,NaN,0.0,4.2,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-3,6302A,3.0(30),NaN,NaN,0.0,NaN,3.0,NaN,0.0,6.2,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-4,6302A,17.0(18),0.0,35/14.4(15),1.0,0.0,12.0,154.0,0.0,53.1,8.0,8.0,50.0,7.8,27.7(15),12.6,0.0,4.2(06),77.0,0.0,13.0,13.5,19.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-5,6302A,3.9(03),0.0,08/11.4(23),0.0,0.0,1.0,157.0,0.0,3.9,8.0,1.0,41.0,13.1,32.2(15),18.5,2.0,9.8(03),98.0,0.0,20.2,19.4,25.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
almeria.tail()

,fecha,indicativo,p_max,nw_55,w_racha,np_100,nw_91,np_001,w_rec,np_300,p_mes,w_med,np_010,hr,tm_min,ta_max,ts_min,nt_30,ta_min,e,nt_00,ti_max,tm_mes,tm_max,q_max,q_mar,q_med,q_min,n_cub,n_des,n_nub
47,2022-9,6302A,1.6(12),NaN,NaN,0.0,NaN,5.0,NaN,0.0,5.6,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,11.0,14.0
48,2022-10,6302A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,7.0,11.0
49,2022-11,6302A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,9.0,15.0
50,2022-12,6302A,21.3(09),0.0,33/13.1(08),2.0,0.0,10.0,101.0,0.0,44.4,4.0,5.0,57.0,7.3,24.8(23),13.4,0.0,2.8(18),80.0,0.0,13.1,12.9,18.4,930.7(27),1015.8,916.8,903.1(15),7.0,9.0,15.0
51,2022-13,6302A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.0,150.0,135.0

In [11]:
almeria.shape

(52, 31)

In [13]:
a_coruna.head()

,fecha,indicativo,p_max,glo,hr,n_gra,n_fog,inso,q_max,nw_55,q_mar,q_med,tm_min,ta_max,ts_min,nt_30,nv_0050,w_racha,np_100,p_sol,nw_91,ts_20,np_001,ta_min,w_rec,e,np_300,nv_1000,evap,p_mes,n_llu,n_tor,ts_10,w_med,nt_00,ti_max,n_nie,tm_mes,tm_max,nv_0100,q_min,np_010,n_cub,n_des,n_nub
0,2019-1,1387,20.6(19),17968,78,0,0,4.2,1028.3(05),7.0,1024.3,1016.1,7.6,14.4(04),11.4,0,0,26/19.4(29),4,46.0,0.0,9.8,16,3.3(04),322.0,99,0,0,670,109.2,16,0,9.1,14.0,0,11.2,0,10.2,12.8,0,982.6(31),15,NaN,NaN,NaN
1,2019-2,1387,18.6(17),26734,67,0,0,6.2,1025.2(11),5.0,1024.1,1016.0,9.1,24.2(26),12.8,0,0,23/26.1(01),2,58.0,1.0,11.2,7,4.2(03),245.0,98,0,0,1102,48.0,11,1,10.8,11.0,0,10.7,0,12.8,16.5,0,976.9(01),4,NaN,NaN,NaN
2,2019-3,1387,15.2(05),46456,69,0,2,7.3,1028.7(13),7.0,1024.1,1016.0,9.4,20.3(24),12.7,0,0,25/23.6(03),1,60.0,0.0,13.1,9,5.8(16),306.0,103,0,2,950,46.9,12,0,13.2,14.0,0,12.5,0,12.8,16.2,0,987.2(06),6,NaN,NaN,NaN
3,2019-4,1387,15.8(07),49976,77,0,1,6.7,1022.4(27),7.0,1013.0,1005.0,9.9,22.5(14),14.7,0,0,25/22.5(25),4,50.0,0.0,14.4,16,5.8(05),309.0,116,0,0,900,112.2,17,0,14.2,14.0,0,11.0,0,13.0,16.2,0,983.9(24),14,NaN,NaN,NaN
4,2019-5,1387,32.4(09),73312,72,0,1,9.5,1019.2(11),3.0,1018.9,1010.9,12.2,33.5(31),16.4,1,1,23/22.5(08),1,64.0,0.0,17.2,10,9.0(20),333.0,130,1,0,1437,41.8,12,0,17.4,15.0,0,14.3,0,15.5,18.8,0,998.3(08),5,NaN,NaN,NaN

In [14]:
a_coruna.tail()

,fecha,indicativo,p_max,glo,hr,n_gra,n_fog,inso,q_max,nw_55,q_mar,q_med,tm_min,ta_max,ts_min,nt_30,nv_0050,w_racha,np_100,p_sol,nw_91,ts_20,np_001,ta_min,w_rec,e,np_300,nv_1000,evap,p_mes,n_llu,n_tor,ts_10,w_med,nt_00,ti_max,n_nie,tm_mes,tm_max,nv_0100,q_min,np_010,n_cub,n_des,n_nub
47,2022-9,1387,27.2(04),47135,74,0,1,7.4,1015.1(27),4.0,1015.8,1007.9,16.4,27.0(19),19.9,0,0,21/16.9(06),1,59.0,0.0,21.3,14,12.5(30),252.0,166,0,1,878,62.2,15,0,NaN,12.0,0,18.1,0,19.6,22.8,0,991.6(13),11,3.0,3.0,24.0
48,2022-10,1387,41.0(15),29284,78,0,3,4.7,1021.5(05),12.0,1016.0,1008.1,15.4,24.3(03),18.6,0,0,16/22.5(28),6,43.0,0.0,18.5,20,12.3(23),285.0,163,1,1,771,150.0,22,1,NaN,12.0,0,19.0,0,18.3,21.1,0,990.8(23),15,9.0,0.0,22.0
49,2022-11,1387,20.8(22),17898,74,1,0,3.3,1020.3(25),10.0,1017.6,1009.6,12.1,22.0(12),14.4,0,0,28/21.7(21),7,34.0,0.0,15.1,22,9.7(22),336.0,127,0,0,723,162.4,25,1,NaN,14.0,0,13.0,0,14.9,17.7,0,993.8(16),20,10.0,1.0,19.0
50,2022-12,1387,72.8(23),13514,78,0,1,2.8,1023.4(27),9.0,1012.0,1004.0,10.7,19.5(31),16.5,0,0,16/23.6(18),5,31.0,0.0,12.8,17,4.3(04),300.0,121,2,0,622,199.4,22,0,NaN,13.0,0,11.7,0,13.2,15.7,0,986.1(14),16,13.0,3.0,15.0
51,2022-13,1387,72.8(23/dic),516675,75,2,27,NaN,1030.1(01/feb),NaN,1018.6,1010.6,12.8,32.9(14/jul),19.9,4,0,NaN,27,NaN,NaN,17.1,154,3.5(07/mar),NaN,139,4,11,9191,903.2,188,12,NaN,NaN,0,11.6,0,15.9,19.0,1,986.1(14/dic),120,NaN,NaN,NaN